################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/appsettings.json
/.vs/Genesis Core Api/CopilotIndices/18.0.988.22099
