################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/appsettings.json
/.vs/Genesis Core Api/CopilotIndices/18.0.988.22099
# .NET Build
bin/
obj/
*.csproj.user
*.user
*.suo
.vs/

# Publish
publish/
out/
Release/
[Pp]ublish/
wwwroot_dist/

# NuGet
packages/
*.nupkg
*.snk

# Secrets y entornos
appsettings.*.json   # ← revisa antes de ignorar todos
*.secrets
.env

# Logs y temporales
*.log
*.tmp